.destacado {
    text-transform: uppercase;
    color: #005677;
    background-color: #C4C4C4;
    text-align: center;
}

.destacado2 {
    text-transform: uppercase;
    color: #005677;
    background-color: #C4C4C4;
}

p {
    color: #000000;
}

body {
    background-color: #E5E5E5;
}

.indentado {
    text-indent: 80px;
}
.foto{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
footer {
text-align: center;
}
img{
    vertical-align: middle;    
}